/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/cc.bat
/fc.bat
/pu.bat
/ps.bat
/li.bat
/gr.bat
/ide.bat
/all.bat
/.phpstorm.meta.php
/_ide_helper.php
